@charset "UTF-8";

body{
    background-color: #172AD3;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: #ffff;
}
h1#principal{
    color: #ffff;
    text-align: center;
    background-color: #080F4B;
}
h2{
    color:#ffffff;
    background-color: #101C8F;
}
.basico{
    color: greenyellow;
}
.intermediario{
    color: yellow;
}
.avancado{
    color: red;
}
p{
    color: white;
}